<% if current_teacher %>
<div class="content">
<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<table class="list-all">
  <thead>
    <tr>
      <th>Course</th>
      <th>Term</th>
      <th>Days</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Teacher</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= Teacher.first.cohorts.name %></td>

  </tbody>
</table>



</div>
<% end %>
<% if current_student %>
<div class="content">
<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<table class="list-all">
  <thead>
    <tr>
      <th>Course</th>
      <th>Term</th>
      <th>Days</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Teacher</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.course.name %></td>
        <td><%= cohort.name %></td>
        <td><%= cohort.cohort_days %></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.id%></td>
    <% end %>
  </tbody>
</table>



</div>
<% end %>
<% if current_admin %>
<div class="content">
<p id="notice"><%= notice %></p>

<h1>Cohorts</h1>
<h2>Total Number of Cohorts: <%= @cohorts.count %></h2>
<table class="list-all">
  <thead>
    <tr>
      <th>Cohort ID</th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Course</th>
      <th>Teacher</th>
      <th>Number of Students</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.id%></td>
        <td><%= cohort.name %></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.course.name %></td>
        <td><%= cohort.id %></td>
        <td><%= cohort.students.count %></td>
        <td><%= link_to cohort do %><%= image_tag('view.png') %>
      <% end %></td>
      <td><%= link_to edit_cohort_path(cohort) do %><%= image_tag('edit.png') %>
      <% end %></td>
      <td><%= link_to cohort, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag('rubbish-bin.png') %>
      <% end %></td>      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="create-link"><%= link_to 'New Cohort', new_cohort_path %></div>
</div>
<% end %>
