<% if current_admin %>
<div class="content">
<div class="create-link"><%= link_to 'Back', cohorts_path %></div>
<p id="notice"><%= notice %></p>

<div class="profile">
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>
<hr>
<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>
<hr>
<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>
<hr>
<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>
<hr>
<p>
  <strong>Teacher ID:</strong>
  <%= @cohort.teacher_id %>
</p>
<hr>
<p>
  <strong>Number of Students:</strong>
  <%= @cohort.students.count %>
</p>
<hr>
<p>
<strong><%= link_to 'Edit', edit_cohort_path(@cohort) %></strong>
</p>

</div>

</div>
<% end %>
