<div class="content">

<p id="notice"><%= notice %></p>

<div class="profile">
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cohort.course %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @cohort.teacher %>
</p>

<p>
  <strong>Student:</strong>
  <%= @cohort.student %>
</p>

<div class="create-link"><%= link_to 'Edit', edit_cohort_path(@cohort) %></div> |
<div class="create-link"><%= link_to 'Back', cohorts_path %></div>
</div>
</div>
