<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="edit-form">
  <div class="edit-section">
    <div class="item-tag"><%= form.label :username %></div>
    <div class="field">
    <%= form.text_field :username %>
  </div>
</div>

    <div class="edit-section">
    <div class="item-tag"><%= form.label :first_name %></div>
    <div class="field">
    <%= form.text_field :first_name %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag"><%= form.label :last_name %></div>
    <div class="field">
    <%= form.text_field :last_name %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag"><%= form.label :email %></div>
    <div class="field">
    <%= form.text_field :email %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag"><%= form.label :password %></div>
    <div class="field">
    <%= form.password_field :password %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
