<nav>
  <h4><%= @admin.last_name %>, <%= @admin.first_name %></h4>
  <ul class="admin-nav">
    <% @admins.each do |admin| %>
        <li><%= link_to 'Home', admin %></li>
        <li><%= link_to 'Profile', admin %></li>
        <li><%= link_to 'Teachers', admin %></li>
        <li><%= link_to 'Students', admin %></li>
        <li><%= link_to 'Courses', admin %></li>
      <% end %>
  </ul>
</nav>
<div class="content">
<h1>Editing Admin</h1>

<%= render 'form', admin: @admin %>

<div class="back">
<%= link_to 'Back', admins_path %>
</div>
</div>
