<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="edit-form">
    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :username %></div>
      <div class="field"><%= form.text_field :username %>
    </div>
  </div>

    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :first_name %></div>
      <div class="field"><%= form.text_field :first_name %>
    </div>
  </div>

    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :last_name %></div>
      <div class="field"><%= form.text_field :last_name %>
    </div>
  </div>

    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :email %></div>
      <div class="field"><%= form.email_field :email %>
    </div>
  </div>

    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :password %></div>
      <div class="field"><%= form.password_field :password %>
    </div>
  </div>

    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :age %></div>
      <div class="field"><%= form.number_field :age %>
    </div>
  </div>

    <div class="edit-section">
      <div class="item-tag">
      <%= form.label :education %></div>
      <div class="field">
        <!-- <%= form.text_field :education %> -->
        <%= select_tag(:education,
          options_for_select(
            ["Select One...",
            "High School Graduate",
            "Some College",
            "Associates Degree",
            "Bachelors Degree",
            "Masters Degree",
            "Doctoral or Professional Degree"], :disabled => ["Select One..."])) %>
    </div>
  </div>

  <div class="edit-section">
    <div class="item-tag"><%= form.label :user_type %></div>
    <div class="field">
    <%= select_tag(:user_type,
      options_for_select([["Student"]])) %>
  </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
