
<div class="content">
<p id="notice"><%= notice %></p>
<h1><%= @student.last_name %>, <%= @student.first_name %></h1>
<div class="profile">
<p>
  <strong>Username:</strong>
  <%= @student.username %>
</p>
<hr>
<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>
<hr>
<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>
<hr>
<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>
<hr>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>
<hr>
<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>




<% if student_session %>
<p>
<strong><%= link_to 'Edit Profile', edit_student_path(@student) %></strong>
</p>


<% end %>
</div>
<% if admin_session %>
<div class="create-link"><%= link_to 'Back', students_path %>
</div>
<% end %>
