<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="edit-form">
  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :username %></div>
    <div class="field"><%= form.text_field :username %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :first_name %></div>
    <div class="field"><%= form.text_field :first_name %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :last_name %></div>
    <div class="field"><%= form.text_field :last_name %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :email %></div>
    <div class="field"><%= form.email_field :email %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :password %></div>
    <div class="field"><%= form.password_field :password %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :age %></div>
    <div class="field"><%= form.number_field :age %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :salary %></div>
    <div class="field"><%= form.number_field :salary %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :education %></div>
    <div class="field">
  <input type="radio" name="education" value="High School Graduate"> High School Graduate<br>
  <input type="radio" name="education" value="Some College">Some College<br>
  <input type="radio" name="education" value="Associates Degree">Associates Degree<br>
  <input type="radio" name="education" value="Bachelors Degree">Bachelors Degree<br>
  <input type="radio" name="education" value="Masters Degree">Masters Degree<br>
  <input type="radio" name="education" value="Doctoral or Professional Degree">Doctoral or Professional Degree<br>

  </div>
</div>


<div class="edit-section">
  <div class="item-tag"><%= form.label :user_type %></div>
  <div class="field">
  <%= select_tag(:user_type,
    options_for_select([["Teacher"]])) %>
</div>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
</div>


<% end %>
