<% if current_teacher %>
<div class="content">
  <p id="notice"><%= notice %></p>
  <div class="sign-in">
      <div class="animated-words">
          <span>Action</span>
          <span>Believe</span>
          <span>Dare</span>
          <span>Dream</span>
          <span>Positivity</span>
          <span>Smile</span>
        </div>

          <div class="animated-words-right">
              <span>Practice</span>
              <span>Creative</span>
              <span>Hope</span>
              <span>Mindfulness</span>
              <span>Nurture</span>
              <span>Listen</span>
            </div>
    <div class="logo"><%=image_tag("logo.png")%></div>

    <h1 class="welcome">Welcome!</h1>
    <h2 class="home-action">Please Choose an Action:</h2>
  <div class="manage-boxes">

    <h4><%= link_to 'Manage Profile', current_teacher %></h4>
    <h4><%= link_to 'View Courses', cohorts_path %></h4>
  </div>

</div>

<% end %>

<% if current_admin %>
<div class="content">
<h1>Teachers</h1>
<h2>Total Number of Teachers: <%= @teachers.count %></h2>


<table class="list-all">

  <thead>
    <tr>
      <th>Teacher ID</th>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Education</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.id%></td>
        <td><%= teacher.username %></td>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.age %></td>
        <td><%= teacher.salary %></td>
        <td><%= teacher.education %></td>
        <td><%= link_to teacher do %><%= image_tag('view.png') %>
      <% end %></td>
      <td><%= link_to edit_teacher_path(teacher) do %><%= image_tag('edit.png') %>
      <% end %></td>
      <td><%= link_to teacher, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag('rubbish-bin.png') %>
      <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="create-link"><%= link_to 'New Teacher', new_teacher_path %></div>
</div>
<% end %>
