<div class="content">
<p id="notice"><%= notice %></p>

<h1><%= @teacher.last_name %>, <%= @teacher.first_name %></h1>

<div class="profile">
<p>
  <strong>Username:</strong>
  <%= @teacher.username %>
</p>
<hr>
<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>
<hr>
<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>
<hr>
<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>
<hr>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>
<hr>
<p>
  <strong>Salary:</strong>
  <%= @teacher.salary %>
</p>
<hr>
<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>
<hr>


<% if teacher_session %>
<p>
<strong><%= link_to 'Edit Profile', edit_teacher_path(@teacher) %></strong>
</p>


<% end %>
</div>
<% if admin_session %>
<div class="create-link"><%= link_to 'Back', students_path %>
</div>
<% end %>
