<div class="create-link"><%= link_to 'Back', root_path %></div>
<div class="content">
<h2>Log in</h2>
<div class="edit-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="edit-section">
  <div class="item-tag">
    <%= f.label :email %><br /></div>
      <div class="field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</div>

<div class="edit-section">
<div class="item-tag">

    <%= f.label :password %><br /></div>
    <div class="field"><%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>


<div class="edit-section">
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
</div>
</div>
<% end %>

<% if new_admin_session? %>
<div class="create-link"><%= render "admin/shared/links" %></div>
<% end %>

<% if new_teacher_session? %>
<div class="create-link"><%= render "teacher/shared/links" %></div>
<% end %>

<% if new_student_session? %>
<div class="create-link"><%= render "student/shared/links" %></div>
<% end %>

</div>
