<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="edit-form">
  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :name %></div>
    <div class="field"><%= form.text_field :name %>
  </div>
</div>

  <div class="edit-section">
    <div class="item-tag">
    <%= form.label :total_hours %></div>
    <div class="field"><%= form.number_field :total_hours %>
  </div>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
