

<nav>
  <h4><%= @admin.last_name %>, <%= @admin.first_name %></h4>
  <ul class="admin-nav">
    <% @admins.each do |admin| %>
        <li><%= link_to 'Home', admins_path %></li>
        <li><%= link_to 'Profile', @admin %></li>
        <li><%= link_to 'Teachers', teachers_path %></li>
        <li><%= link_to 'Students', students_path %></li>
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'Cohorts', cohorts_path %></li>
    <% end %>
  </ul>
</nav>

<div class="content">
<p id="notice"><%= notice %></p>
<h1>Courses</h1>
<h2>Total Number of Courses: <%= @courses.count %></h2>
<table class="list-all">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total hours</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.total_hours %></td>
        <td><%= link_to course do %><%= image_tag('view.png') %>
<% end %></td>
<td><%= link_to edit_course_path(course) do %><%= image_tag('edit.png') %>
<% end %></td>
<td><%= link_to course, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag('rubbish-bin.png') %>
<% end %></td>
</tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="create-link"><%= link_to 'New Course', new_course_path %></div>
</div>
