<!DOCTYPE html>
<html>
  <head>
    <title>The Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins|Varela+Round" rel="stylesheet">
    <link rel="icon" href="<%=image_url('favicon.png')%>" type="image" sizes="16x16">
  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= yield %>
  </body>
</html>
