<!DOCTYPE html>
<html>
  <head>
    <title>The Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins|Varela+Round" rel="stylesheet">
    <link rel="icon" href="<%=image_url('favicon.png')%>" type="image" sizes="16x16">
  </head>

  <body>
    <% if admin_session %>
    <nav>
      <h4><%= current_admin.last_name %>, <%= current_admin.first_name %></h4>
      <ul class="admin-nav">
        <% Admin.all.each do |admin| %>
            <li><%= link_to 'Home', admins_path %></li>
            <li><%= link_to 'Profile', current_admin %></li>
            <li><%= link_to 'Teachers', teachers_path %></li>
            <li><%= link_to 'Students', students_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Cohorts', cohorts_path %></li>
            <li><%= link_to 'Sign Out', destroy_admin_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <% end %>
    <% if teacher_session %>
    <nav>
      <h4><%= current_teacher.last_name %>, <%= current_teacher.first_name %></h4>
      <ul class="admin-nav">
        <% Teacher.all.each do |teacher| %>
            <li><%= link_to 'Home', teachers_path %></li>
            <li><%= link_to 'Profile', current_teacher %></li>
            <li><%= link_to 'Sign Out', destroy_teacher_session %></li>
            <!-- <li><%= link_to 'Teachers', teachers_path %></li>
            <li><%= link_to 'Students', students_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Cohorts', cohorts_path %></li> -->
        <% end %>
      </ul>
    </nav>
    <% end %>
    <% if student_session %>
    <nav>
      <h4><%= current_student.last_name %>, <%= current_student.first_name %></h4>
      <ul class="admin-nav">
        <% Teacher.all.each do |teacher| %>
            <li><%= link_to 'Home', students_path %></li>
            <li><%= link_to 'Profile', current_student %></li>
            <li><%= link_to 'Sign Out', destroy_student_session %></li>
            <!-- <li><%= link_to 'Teachers', teachers_path %></li>
            <li><%= link_to 'Students', students_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Cohorts', cohorts_path %></li> -->
        <% end %>
      </ul>
    </nav>
    <% end %>


    <%= yield %>
  </body>
</html>
